:root {
    --main-color: #40E0D0;
}
.container {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.apresentacao {
    margin-top: 2em;
    font-size: 20px;
}

.cards {
    display: flex;
    gap: 2em;
    height: 400px;
}

.title {
    color: var(--main-color);
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_one {
    width: 250px;
    height: 330px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 6px 9px 13px -2px rgba(0,0,0,0.40); 
box-shadow: 6px 9px 13px -2px rgba(0,0,0,0.40);
}

.card_two {
    width: 250px;
    height: 330px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 6px 9px 13px -2px rgba(0,0,0,0.40); 
    box-shadow: 6px 9px 13px -2px rgba(0,0,0,0.40);
}

.card_three {
    width: 250px;
    height: 330px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 6px 9px 13px -2px rgba(0,0,0,0.40); 
    box-shadow: 6px 9px 13px -2px rgba(0,0,0,0.40);
}

.title {
    background-color: rgb(134, 134, 134);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: white;
    font-size: 18px;
}

.conteudo p {
    margin: 1em;
}

.button {
    height: 35px;
    width: 240px;
    border-radius: 15px;
    border: 2px solid var(--main-color);
    margin-left: 0.4em;
    margin-top: 0.4em;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.preco {
    font-size: 25px;
    font-weight: bold;
}

.button:hover {
    color: white;
    background-color: var(--main-color);
}